body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
  } 
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 35px 20px 35px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }


.bg-green{
    background-color: #008000a3 !important;
}

.bg-red{
    background-color: #fe4d4de8 !important
    ;
}

.hidden{
    display: none !important;
}

h1 {
  text-align: center;
} 

form {
  display: block;
  justify-content: center;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label{
  margin-bottom: 8px;
}

.input-field {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-field {
  width: 74%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.form-error{
  font-size: 12px;
  color: red;
}
.timer-question{
  display: flex;
    flex-direction: column;
}

.question-number{
  display: flex;
  justify-content: space-between;
}

.circle-container {
  width: 50px;
  height: 50px;
  background-color: #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 100px;
  margin-top: 50px;
}

.circle-container-result{
  width: 200px;
    height: 200px;
    background-color: #007bff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}


.circle-content {
  color: white;
  font-size: 24px;
}

#choices input[type="radio"] {
  border-radius: 5px 0 0 5px; 
  margin-bottom: 20px;
  visibility:hidden;
} 

button {
  padding: 10px 20px;  
  background-color: #007bff;
  color: #fff;  
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-width: 100px;
  min-height: 35px;
}

button:disabled{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}

.choice {
  display: flex;
  cursor: pointer;
  background-color: white;
  border: 2px solid #f0f0f0;
  border-radius: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

/* .choice:hover{
  border: 2px solid #007bff;
  color: #007bff;
} */

.selected {
  border: 2px solid #007bff;
  color: #007bff;
}






